body {
    font-family: "Outfit", sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-main);
}
.container{
    width: 340px;
    height: 520px;
    border-radius: 15px;
    background-color: var(--dark-blue-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    gap: 5px;
}


.title{
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
}

.description{
    font-size: 16px;
    font-weight: normal;
    color: var(--soft-blue);
}
.product-image{
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.3;
}

.product:hover{
    border-radius: 15px;
    opacity: 0.8;
    background: url(/images/icon-view.svg);
    background-color: aqua;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.relevant-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    color: var(--cyan);
    display: flex;
    align-self: baseline;
    gap: 5px;

}

.time-left{
    color: var(--soft-blue);
    display: flex;
    align-self: baseline;
    gap: 5px;
}

.price, .time-left, footer{
    padding: 20px 20px 0 0px;

}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: var(--soft-blue);

}

footer span{
    color: var(--white);
    cursor: pointer;
}

.profile-picture{
    height: 26px;
    width: 26px;
}

 .title:hover, footer span:hover{
    color: var(--cyan);
}


.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 20px;
    color: var(--white);
  }

  .attribution a {
    color: var(--cyan);
  }